<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prueba de socket Io</title>
  </head>
  <body>
    <img src="../../public/img/logo_ch.png" alt="Mi imagen">
    <header>
      <nav>
        <!-- Aquí incluirías el código HTML para la barra de navegación común a todas las páginas -->
      </nav>
    </header>
    <main>
      {{{body}}}
      <!-- Aquí se incluiría el contenido específico de cada página a través de la variable "body" que se renderiza en cada página -->
    </main>
    <footer>
      <p>Derechos Reservados</p>
    </footer>
    <!-- Aquí podrías incluir los scripts comunes a todas las páginas, como podría ser el script para manejar los websockets si es necesario -->
  </body>
</html>
